html{
	height: 100%;
	width: 100%;
	background-color: #D3D3D3;
}

.fail{
	text-align: center;
	margin: 60px 100px;
	padding: 20px 10px;
	font-size: 1.30em;
	background-color: white;
	border-radius: 10px;
}
.button{
	
}

.form{
	height: 100vh;	
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background-color: #D3D3D3;
	text-align: center;	
	font-size: 20px;

}

.form h1{
	margin: 0;
	padding: 60px 40px;
}

